<%- include('../partials/navbar') %>
  <h3>All Flights</h3>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight #</th>
        <th>Departure</th>
      </tr>
    </thead>
    <tbody>
      <% let todaysDate = new Date(); %>
      <% console.log(`Today's date is ${todaysDate}`); %>
      <% flights.forEach(function(f) { %>
        <% if (f.departs > todaysDate) { %>
          <tr>
            <td><a href="/flights/<%= f._id %>">Detail</a></td>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs %></td>
          </tr>
        <% } else { %>
          <tr>
            <td><a href="/flights/<%= f._id %>">Detail</a></td>
            <td class="passed"><%= f.airline %></td>
            <td class="passed"><%= f.airport %></td>
            <td class="passed"><%= f.flightNo %></td>
            <td class="passed"><%= f.departs %></td>
          </tr>
        <% }; %>
      <% }); %>
    </tbody>
  </table>
<%- include('../partials/footer') %>