<%- include('../partials/navbar') %>

<h1>Detail</h1>
  <div>Airline: <%= flight.airline %></div>
  <div>Airport: <%= flight.airport %></div>
  <div>Flight #: <%= flight.flightNo %></div>
  <div>Departs: <%= flight.departs %></div>
  <div>Destinations: <%= flight.destinations %></div>
  </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>